ion-toolbar{
    text-align: center;
   
    --ion-background-color:#f2f7f4;
}

ion-content{
    --ion-background-color:#daedf0;
}
ion-title{
    padding: 5px;
    background-color:#ffffff ;
}
ion-card{
    --ion-background-color:#fffefe;
    border-radius: 10px;
  }
