ion-toolbar{
    text-align: center;
    color: #f7f7fd;
    --ion-background-color:#000000;
  }
  
  ion-content{
  
    --ion-background-color:#daedf0;
  }
  
  #login {
      text-align: center;
    
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
   
    
    
      .logo{
  
        z-index: 1;
        width: 100;
        margin-top: auto;
  
   
      }
      
    