ion-toolbar{
    text-align: center;
    color: #3972a7;
    --ion-background-color:#000000;
  }
  
  ion-content{
  
    --ion-background-color:#f9feff;
  }
  
  
  #login {
      text-align: center;
    
      position: absolute;
      left: 10;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
   
    
    
      .logo{
  
        background-size: 250px;
        position: center;
      }
      
  