<ion-header>
  <ion-toolbar>
    <ion-title>  <img class="logo" alt="logo" src="assets\Logo.jpg"/></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
      <h3>Criar novo Setor</h3>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nome do Setor</ion-label>
      <ion-input type="text"[(ngModel)]="setor.nome"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Gestor da Área</ion-label>
      <ion-input
      [(ngModel)]="setor.gestor"
      type= "text"
      maxlength="15"
    ></ion-input>
    </ion-item>
    <ion-button (click)="cadastrar()" size="full" style="margin-top: 5vh">Cadastrar</ion-button>
  </ion-content>