<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Agenda</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="irParaCadastrar()" color="danger">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <ion-list>
          <ion-item-sliding *ngFor="let setor of setores; let i = index;">
            <ion-item-options side="end">
              <ion-item-option color="secondary" (click)="editar(setor?.key)">
                <ion-icon name="create" style="font-size: 4vh"></ion-icon>
              </ion-item-option>
              <ion-item-option color="danger" (click)="deletar(i)">
                  <ion-icon name="trash" style="font-size: 4vh"></ion-icon>
                </ion-item-option>
            </ion-item-options>
            <ion-item>
              <ion-label>{{setor?.nome}}</ion-label>
              <ion-label>{{setor?.gestor}}</ion-label>
            </ion-item>
          </ion-item-sliding>
        </ion-list>


<ion-item *ngIf="this.setores?.length==0">
  <ion-label>Lista de Contatos Vazia</ion-label>
</ion-item>
</ion-content>